module.exports = {
  apps: [{
    name: "CoinClicker_Backend",
    instances: 1,
    max_restarts: 2,
    env: {
      "NODE_ENV": "development",
      "PORT": "8000",
      "IP": "localhost",
      "application": "CoinClicker_Backend",
      "controlpanel_url": "http://localhost/",
      "controlpanel_api_key": "",
      "BehindProxy": "1",
      "LOG_LEVEL": "3",
      "Clicks_Per_Coin": "1",
      "Max_Coins_Per_Day_Per_User": "100",
    },
    script: "./index.js"
  }]
}
