module.exports = {
  apps: [{
    name: "CoinClicker_Backend",
    instances: 1,
    max_restarts: 2,
    env: {
      "NODE_ENV": "development",
      "PORT": "80",
      "IP": "localhost",
      "Clicks_Per_Coin": "1",
      "Max_Coins_Per_Day_Per_User": "100",
    },
    script: "./index.js"
  }]
}
